/* add-patient.component.scss */

@import '~bootstrap/dist/css/bootstrap.min.css';

$primary: #136d43;
$accent: #0084a0;

.form-group {
  label {
    color: $primary;
    font-weight: bold;
  }

  .mat-form-field {
    .mat-form-field-label {
      color: $primary;
    }

    .mat-input-element {
      color: $primary;
    }

    .mat-form-field-underline {
      background-color: $primary;
    }

    .mat-datepicker-toggle {
      color: $primary;
    }

    .mat-select {
      color: $primary;
      background-color: none;
      border: none;

      .mat-select-arrow-wrapper {
        transform: translateY(-50%);
      }

      .selected-value {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $primary;
        font-size: 14px;
      }

      .mat-select-value {
        color: $primary;
      }

      .mat-option {
        color: $primary;
      }

      &.mat-select-value-selected {
        color: black;
      }
        // Optional: Slightly darker background for selected option
        &.mat-select-value-selected .mat-option.mat-selected:not(.mat-option-disabled) {
            background-color: #e5e5e5;
          }
    }
  }

  .validation-error {
    span {
      color: $accent;
    }
  }

  .btn-primary {
    background-color: $primary;
    border: none;
  }

  .btn-primary:hover {
    background-color: darken($primary, 10%);
  }
}

.container {
  margin-top: 4rem;

  .row {
    justify-content: center;
  }

  .col-lg-8 {
    max-width: 600px;
  }
}
