<br>

<form name="medform" #form="ngForm" autocomplete="false" (ngSubmit)="onSubmit(form)">

    <!-- DOM element should be equal to class property name because it is 
    paswsing as the key when sending data as object -->

    <input type="hidden" name="MedicineId" [(ngModel)]="medicineservice.formData.MedicineId">

    <!--  -->

    <div class="form-group">
        <label>Medicine Code &nbsp;</label>
        <input name="MedicineCode" #MedicineCode="ngModel" [(ngModel)]="medicineservice.formData.MedicineCode"
            class="form-control" placeholder="Enter Medicine Code" minlength="3" maxlength="25" required
            pattern="^[a-zA-Z0-9]+$" [ngClass]="{'is-invalid': MedicineCode.touched && MedicineCode.invalid}">

        <div class="Validation-error" *ngIf="MedicineCode.touched && MedicineCode.invalid">
            <div *ngIf="MedicineCode.errors.required">Medicine Code is required</div>
            <div *ngIf="MedicineCode.errors.pattern">Only letters and numbers are allowed</div>
        </div>
    </div>


    <div class="form-group">
        <label>Medicine Name &nbsp;</label>
        <input name="MedicineName" #MedicineName="ngModel" [(ngModel)]="medicineservice.formData.MedicineName"
            class="form-control" placeholder="Medicine Name"  required pattern="^[a-zA-Z]+$"
            [ngClass]="{'is-invalid': MedicineName.touched && MedicineName.invalid}">

        <div class="Validation-error" *ngIf="MedicineName.touched && MedicineName.invalid">
            <div *ngIf="MedicineName.errors.required">Medicine Name is required</div>
            <div *ngIf="MedicineName.errors.pattern">Only alphabets are allowed</div>
        </div>
    </div>
    <br>


    <div class="form-group">
        <label>Generic Name&nbsp;</label>
        <input name="GenericName" #GenericName="ngModel" [(ngModel)]="medicineservice.formData.GenericName"
            class="form-control" placeholder="Enter Generic Name"  required
            pattern="^[a-zA-Z]+$">

        <div class="Validation-error" *ngIf="GenericName.touched && GenericName.invalid">
            <div *ngIf="GenericName.errors.required">Generic Name is required</div>
            <div *ngIf="GenericName.errors.pattern">Only letters are allowed</div>
        </div>
    </div>
    <br>


    <div class="form-group">
        <label>Company Name&nbsp;</label>
        <input name="CompanyName" #CompanyName="ngModel" [(ngModel)]="medicineservice.formData.CompanyName"
            class="form-control" placeholder="Enter Company Name"  required
            pattern="^[a-zA-Z]+$" [ngClass]="{'is-invalid': CompanyName.touched && CompanyName.invalid}">

        <div class="Validation-error" *ngIf="CompanyName.touched && CompanyName.invalid">
            <div *ngIf="CompanyName.errors.required">Company Name is required</div>
            <div *ngIf="CompanyName.errors.pattern">Only alphabets are allowed</div>
        </div>
    </div>
    <br>


    <div class="form-group">
        <label>MedicineStock&nbsp;</label>
        <input name="MedicineStock" #MedicineStock="ngModel" [(ngModel)]="medicineservice.formData.MedicineStock"
            class="form-control" placeholder="Enter Stock Quantity"  required
            pattern="^\d+$" [ngClass]="{'is-invalid': MedicineStock.touched && MedicineStock.invalid}">

        <div class="Validation-error" *ngIf="MedicineStock.touched && MedicineStock.invalid">
            <div *ngIf="MedicineStock.errors.required">Stock Quantity is required</div>
            <div *ngIf="MedicineStock.errors.pattern">Please enter a valid numeric value</div>
        </div>
    </div>
    <br>


    <div class="form-group">
        <label>MedicineMedicineUnitPrice&nbsp;</label>
        <input name="MedicineUnitPrice" #MedicineUnitPrice="ngModel" [(ngModel)]="medicineservice.formData.MedicineUnitPrice"
            class="form-control" placeholder="Enter Unit Price"  required
            pattern="^\d+(\.\d{1,2})?$" [ngClass]="{'is-invalid': MedicineUnitPrice.touched && MedicineUnitPrice.invalid}">

        <div class="Validation-error" *ngIf="MedicineUnitPrice.touched && MedicineUnitPrice.invalid">
            <div *ngIf="MedicineUnitPrice.errors.required">Unit Price is required</div>
            <div *ngIf="MedicineUnitPrice.errors.pattern">Please enter a valid numeric value</div>
        </div>
    </div>
    <br>
    <div class="form-group">

        <!-- Dirty is the tearm used to flag if the data or state has changed -->
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Submit</button>
    </div>
</form>
<div class="d-flex justify-content-end" style="margin:20px;">
    <button  class="details btn btn-info btn-danger " (click)="back()">Back</button>
  </div>