<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Records</title>
  <!-- Include Bootstrap CSS (add the appropriate link to your project) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Add any additional custom styles here */
    body {
      padding-top: 20px;
    }

    .container {
      max-width: 800px;
    }
  </style>
</head>
<body>

  <div class="container">
    <h2 class="mb-4" style = "text-align: center; margin-top: 20px;">Patient History</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Appointment Date</th>
          <th>Symptoms</th>
          <th>Diagnosis</th>
          <th>Note</th>
          <th>Medicine Name</th>
          <th>Test Name</th>
          <th>Lab Result</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of pathistory.pathis">
          <td>{{ p.AppointmentDate | date:'dd-MMM-yyyy' }}</td>
          <td>{{ p.Symptoms }}</td>
          <td>{{ p.Diagnosis1 }}</td>
          <td>{{ p.Note }}</td>
          <td>{{ p.MedicineName }}</td>
          <td>{{ p.TestName }}</td>
          <td>{{ p.LabResult }}</td>
          <!-- <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-sm btn-outline-danger" style="margin-left: 10px;">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <button class="btn btn-info" class="btn btn-outline-primary" (click)="back()"> Back </button>
 </div>

 <!-- <div>
    <button class="btn btn-info">
       <a [routerLink]="['../list-pathis']"class="btn btn-outline-primary" style= "float:right; margin-bottom:10px;">Patient History</a>
    </button>
 </div>


  <div>
    <button class="btn btn-info">
       <a [routerLink]="['../add-diagnosis']"class="btn btn-outline-primary" style= "float:right; margin-bottom:10px;">Add Diagnosis</a>
    </button>
 </div> -->

  <!-- Include Bootstrap JS and Popper.js (add the appropriate links to your project) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
