<!-- labadd.component.html -->

<form #labForm="ngForm" (ngSubmit)="onSubmit(labForm)" class="container mt-4">
    <!-- Appointment Section -->
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="appointmentId">AppointmentId:</label>
        <input type="text" id="appointmentId" name="appointmentId" [(ngModel)]="labtestvmService.formData_L.AppointmentId" class="form-control" required required readonly>
      </div>
  
      <div class="col-md-6 mb-3">
        <label for="patientName">PatientName:</label>
        <input type="text" id="patientName" name="patientName" [(ngModel)]="labtestvmService.formData_L.PatientName" class="form-control" required required readonly>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="doctorName">DoctorName:</label>
        <input type="text" id="doctorName" name="doctorName" [(ngModel)]="labtestvmService.formData_L.DoctorName" class="form-control" required required readonly>
      </div>
  
      <div class="col-md-6 mb-3">
        <label for="testName">TestName:</label>
        <input type="text" id="testName" name="testName" [(ngModel)]="labtestvmService.formData_L.TestName" class="form-control" required required readonly>
      </div>
    </div>
  
    <!-- Lab Report Section -->
     <div class="row">
      
        <input type="hidden" id="labreportId" name="labreportId" [(ngModel)]="labreportService.formData_L.ReportId" class="form-control" required>
        <input type="hidden" id="LabPrescId" name="LabPrescId" [(ngModel)]="labreportService.formData_L.LabPrescId" class="form-control" required>
        <input type="hidden" id="StaffId" name="StaffId" [(ngModel)]="getIdVm.getidvm1.StaffId" class="form-control" required>
        <input type="hidden" id="TestId" name="TestId" [(ngModel)]="getIdVm.getidvm1.TestId" class="form-control" required>
        <div class="col-md-6 mb-3">
        <label for="reportDate">ReportDate:</label>
        <input type="date" id="reportDate" name="reportDate" [(ngModel)]="labreportService.formData_L.ReportDate" class="form-control" required>
      </div>
  </div>
  
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="testResult">TestResult:</label>
        <input type="text" id="labResult" name="labResult" [(ngModel)]="labreportService.formData_L.TestResult" class="form-control" required>
      </div>
  
      <div class="col-md-6 mb-3">
        <label for="remarks">Remarks:</label>
        <textarea id="remarks" name="remarks" [(ngModel)]="labreportService.formData_L.Remarks" class="form-control"></textarea>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
  <div><button (click)="goBack()">Back</button></div>
  
