<div class="container">
    <div class="header">
        <div class="form-control">
            <input class="form-control" type="text"placeholder="search text here..."
            [(ngModel)]="filter">
        </div><br>
        <a [routerLink]="['../add-medicine']" class="btn btn-outline-success" style="float: right; margin-bottom: 30px;">Add new medicine</a>
    </div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>MedicineId</th>
            <th>MedicineCode</th>
            <th>MedicineName</th>
            <th>GenericName</th>
            <th> CompanyName</th>
            <th>MedicineStock</th>
            <th>MedicineUnitPrice</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let med of medicineService.medicine">
            <td>{{med.MedicineId}}</td>
            <td>{{med.MedicineCode}}</td>
            <td>{{med.MedicineName}}</td>
            <td>{{med.GenericName}}</td>
            <td>{{med.CompanyName}}</td>
            <td>{{med.MedicineStock}}</td>
            <td>{{med.MedicineUnitPrice}}</td> 

            <td>
                <button class="btn btn-sm btn-outline-primary" (click)="updateMedicine(med.MedicineId)">Edit</button>&nbsp;
                <button class="btn btn-sm btn-outline-danger" style="margin-left:25px" (click)="deleteMedicine(med.MedicineId)">Delete</button>
                
            </td>
        </tr>
    </tbody>
</table>
