<div class="labbillvm">
  <h2>BillDetails</h2>
  <div>
    <label type="hidden">LabBillId</label>
    <span>{{labbillvmService.formData_L.LabbillId}}</span>
  </div>
  <div>
    <label>LabreportId</label>
    <span>{{labbillvmService.formData_L.LabreportId}}</span>
  </div>
  <div>
    <label>BillDate</label>
    <span>{{labbillvmService.formData_L.C}}</span>
  </div>
  <div>
    <label>PatientName</label>
    <span>{{labbillvmService.formData_L.PatientName}}</span>
  </div>
  <div>
    <label>TestName</label>
    <span>{{labbillvmService.formData_L.TestName}}</span>
  </div>
  <div>
    <label>TestAmount</label>
    <span>{{labbillvmService.formData_L.Amount}}</span>
  </div>
  <div>
    <label>TotalAmount</label>
    <span>{{labbillvmService.formData_L.TotalAmount}}</span>
  </div>
  <div>
    <label type="hidden">PatientId</label>
    <span>{{labbillvmService.formData_L.PatientId}}</span>
  </div>
  <div>
    <label type="hidden">TestId</label>
    <span>{{labbillvmService.formData_L.TestId}}</span>
  </div>
  
  <div>
    <label type="hidden">AppointmentId</label>
    <span>{{labbillvmService.formData_L.AppointmentId}}</span>
  </div>
  <button (click)="printLabReport()">Print</button> 
  
</div>
<div><button (click)="goBack()">Back</button></div>