.input-group {
    margin-bottom: 1rem;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .search-input {
    width: 50%;
    margin-right: 5px;
    height: 52.5px;
    
  }

  .custom-search-btn{
    height: 52.5px;
  }
  .mat-datepicker-content {
    max-height: 650px; /* Adjust the height as needed */
  }